In [7]:
def vol(rad):
    volume=4/3*(3.14)*(rad**3)
    return volume
vol(7)

1436.0266666666666

In [8]:
def check(num,low,high):
    if num in range(low,high):
        print("The number you entered is in the given range")
    else:
        print("The number is out of range")
check(10,12,44)

The number is out of range

In [12]:
def up_low(s):
    for letter in s:
        
up_low("Sriman Rao")

IndentationError: expected an indented block (<ipython-input-12-71c07ff8600d>, line 4)

In [17]:
def up_low(s):
    d={"upper":0,"lower":0}#works like a counter
    for c in s:
        if c.isupper():
            d["upper"]+=1
        elif c.islower():
            d["lower"]+=1
        else:
            pass
    print ("Original string : ", s)
    print ("No of upper case letter : ", d["upper"])
    print ("No of lower case letters :",d["lower"])
up_low("Good day MuchA GRacias")

Original string :  Good day MuchA GRacias
No of upper case letter :  5
No of lower case letters : 14

In [18]:
def unique_list(l):
    x=[]
    for a in l:
        if a not in x:
            x.append(a)
    return x
unique_list([1,1,1,55,66,66,7,7,8,9,10])

[1, 55, 66, 7, 8, 9, 10]

In [19]:
def unique_li(l):
        x=[]
        for a in l:
            if a not in x:
                x.append(a)
        return x
unique_li([1,1,2,3,3,3])

[1, 2, 3]

In [27]:
def mul_list(l):
    mul=l[0]# mul initiated to the first element in the list
    for a in l:
        mul*=a
    return mul

mul_list([1,2,3,1000000000000000000000000000000000**3])

6000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [33]:
def palindrome(s):
    if s==s[::-1]:
        print("The entered string is a palindrome")
    else:
        print("not a palindrome")
palindrome('helleh')

The entered string is a palindrome

In [38]:
def ispanagram(str1,alphabet=string.ascii_lowercase):
    alphaset=set(alphabet)
    return alphaset<=set(str1.lower())
ispanagram("My name is deshmukh")

False