In [26]:
import sqlite3
conn=sqlite3.connect("emp.db")
c=conn.cursor()
c.execute("Create table emp(first text,second text, pay integer)")

In [27]:
c.execute("INSERT INTO employees VALUES("Sriman","Rao",500000)")
conn.commit()
conn.close()

SyntaxError: invalid syntax (<ipython-input-27-2ba02153ee3d>, line 1)