In [42]:
class Employee:
    def __init__(self,first,second,pay):
        self.first=first
        self.second=second
        self.pay=pay
    @property
    def email(self):
        return "{}.{}@email.com".format(self.first,self.second)
    @property
    def fullname(self):
        return "{} {}".format(self.first,self.second)
    def __repr__(self):
        return "Employee({},{},{})".format(self.first,self.second,self.pay)

import sqlite3


conn=sqlite3.connect(":memory:")

In [43]:
c=conn.cursor()

In [44]:
c.execute("""create table empl (first text, second text,pay integer)""")

In [56]:
def insert_emp(emp):
        with conn:
                c.execute("insert into empl values(?, ?, ?)",(emp.first,emp.second,emp.pay))




def get_emp_by_name(secondname):
    c.execute("select * from empl where second=?",(secondname,))
    return c.fetchall()

    



def update_pay(emp,pay):
    with conn:
        c.execute("""update empl set pay=:pay where first=:first and second=:second""",{'first':emp.first,'second':emp.second,'pay':pay})



def remove_emp(emp):
    with conn:
        c.execute("delete from empl where first=:first and second=:second",{'first':emp.first,'second':emp.second})




emp_1=Employee("Sriman","Rao",213422)
emp_2=Employee("Samyuktha","Rao",21342255)

#insert_emp(emp_1)
#insert_emp(emp_2)
#update_pay(emp_1,1234567)
emps=get_emp_by_name("Rao")
remove_emp(emp_2)
print(emps)

[('Sriman', 'Rao', 1234567), ('Sriman', 'Rao', 1234567), ('Sriman', 'Rao', 1234567), ('Sriman', 'Rao', 1234567), ('Sriman', 'Rao', 1234567), ('Sriman', 'Rao', 1234567)]